#hd {
    background-color: dodgerblue;
}
#body {
    background-color: deeppink;
    
    }
#wl {
    text-align: center;
    color: darkblue;

}
#button {
background-color: deepskyblue;
color: blueviolet;
margin-top: 5cm;
margin-left: 15cm;
width: 200px;
height: 50px;
font-size: larger;
}
#free {
    margin-left: 12cm;
    color: gold;
    margin-top: 5cm;
    }
#WAJIH {
    margin-right: 20cm;
    margin-top: 0.5cm;
    
}